#set ($language="Swift")
#set ($description="A class to create webservice requests for ${entity.name}")
#set ($author="Evol Johnson")
#set ($overwrite="true")
#set ($enabled="false")
#set ($filep="${entity.name}WebServiceRequest.swift")
#set ($filename="${outputDir}/${project.name}/Client/${filep}")

class ${entity.name}WebServiceRequest  { 
let baseUrl = "http://localhost:8080/api/"
#parse('/PerfectSwift/client/webserviceRequest.swift.parse')
}


 