#set ($language="Swift")
#set ($description="${entity.name} Handlers for REST endpoints ")
#set ($author="Evol Johnson")
#set ($overwrite="true")
#set ($enabled="true")
#set ($filep="${entity.name}Handlers.swift")
#set ($filename="${outputDir}/${filep}")

#parse('/PerfectSwift/test/EntityTestHandlers.swift.parse')



 