#set ($language="Swift")
#set ($description="A class to create webservice requests for ${entity.name}")
#set ($author="Evol Johnson")
#set ($overwrite="true")
#set ($enabled="true")
#set ($filep="${entity.name}Handlers.swift")
#set ($filename="${outputDir}/${filep}")

#parse('/PerfectSwift/templates/EntityHandlers.swift.parse')



 